.section-card {
  border: none;
  border-radius: 18px;
  overflow: hidden;
}

.section-header {
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.section-header:hover {
  background-color: rgba(0,0,0,0.03);
}

.monitor-canvas {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 12px;
  background-color: #091413;
  color: #E5E7EB;
  padding: 16px;
  font-family: monospace;
  font-size: 14px;
}

#DBCSignalList {
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}




















.DBCMessage {
  padding: 12px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.04);
  margin-bottom: 12px;
}

.dbc-signal {
  padding-left: 24px;
  color: #d1d5db;
  margin-top: 4px;
}

.control-label {
  font-size: 13px;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 6px;
}

.badge-mode {
  font-size: 12px;
}

.form-switch .form-check-input {
  width: 3em;
  height: 1.5em;
}