:root {
  --bg-main: #FFFFFF;
  --bg-navbar: #ACCFA3;
  --bg-footer: #393E46;
  --text-main: #080808;
}

/* ************************************************** */

body {
  background: var(--bg-main);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding-top: 5vh;
}

#TopBar {
  height: 25vh;
  background: var(--bg-navbar);
}

#Logo {
  width: 17vw;
  object-fit: contain;
}

#TitleDescription {
  color: var(--text-main);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
}

#TitleVersion {
  color: var(--text-main);
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 500;
}

#Footer {
  height: 10vh;
  padding: 1vh 0;
  background: var(--bg-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-opposite);
}


#Home-Call {
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 18px;
}

#Home-Call:hover {
  transform: translateY(-6px) scale(1.01);
}

#LoggingToggle {
  transform: scale(1.5);
  cursor: pointer;
}




.Working-Banner {
  padding-left: 5vw;
  font-weight: 700;
  font-size: 2rem;

}

.Working-Wait {
  padding-left: 5vw;
  font-weight: 500;
  font-size: 1.25rem;
}