:root[data-theme="dark"] {
  --bg-main: #373A40;
  --bg-navbar: #37353E;
  --bg-footer: #A2CB8B;
  --text-main: #EEEEEE;
  --text-secondary: #76ABAE;
}

:root[data-theme="light"] {
  --bg-main: #FFFFFF;
  --bg-navbar: #ACCFA3;
  --bg-footer: #393E46;
  --text-main: #080808;
  --text-secondary: #76ABAE;
  --text-opposite: #EEEEEE;
}
/* ************************************************** */

body {
  background: var(--bg-main);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#TopBar {
  height: 25vh;
  background: var(--bg-navbar);
}

#Logo {
  width: 17vw;
  object-fit: contain;
}

#TitleDescription {
  color: var(--text-main);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
}

#TitleVersion {
  color: var(--text-main);
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 500;
}

#Footer {
  height: 10vh;
  padding: 1vh 0;
  background: var(--bg-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-opposite);
}